<div class="datetimepicker">
	<input type="date" id="date" value="@dateValue" @onchange="OnDateChange" />
	<span></span>
	<input type="time" id="time" value="@timeValue" @onchange="OnTimeChange" />
</div>
