@page "/event/new"
@page "/event/edit/{eventGuid}"

@{
    var action = string.IsNullOrEmpty(eventGuid)
        ? "New"
        : "Edit";
}

<h3>@action Event</h3>
@if (editContext != null)
{
    <EditForm EditContext="editContext" OnValidSubmit="@SaveEvent">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label>Event Title:</label>
            <input type="text" class="form-control" required="required" @bind="SelectedEvent!.Title" />
        </div>
        <div class="form-group">
            <label>Event Description:</label>
            <input type="text" class="form-control" required="required" @bind="SelectedEvent!.Description" />
        </div>
        <div class="form-group">
            <label>Starts At:</label>
            <DatetimePicker OnDatetimeChangeCallback="@StartDateChange" InitialDate="@SelectedEvent!.StartDate.Value"/>
        </div>
        <div class="form-group">
            <label>Ends At:</label>
            <DatetimePicker OnDatetimeChangeCallback="@EndDateChange" InitialDate="@SelectedEvent!.EndDate.Value"/>
        </div>
        <RegionSelector OnRegionChange="@SetRegionId" SelectedRegionId="@SelectedEvent!.RegionId"/>
        <div class="form-group">
            <label>Address:</label>
            <input type="text" class="form-control" @bind="SelectedEvent!.Address" />
        </div>
        <button type="submit">Submit</button>
    </EditForm>
}