@page "/events/"
@using System.Web;
@{
    var rsvpClasses = new Dictionary<string, List<string>>
    {
        {"NA", new() { "btn-primary", "btn-outline-primary" } },
        {"Going", new() { "btn-success", "btn-outline-success" } },
        {"MaybeGoing", new() { "btn-secondary", "btn-outline-secondary" }}
    };
}

<h3>Events</h3>
@if(UserId.HasValue)
{
    <button @onclick="NavCreateEvent">Create Event</button>
}


<div>
    Date
    <br />
    <span>
        <label>From Date:</label>
        <input type="date" @bind="CalendarStartDate" />
        <label>To Date:</label>
        <input type="date" @bind="CalendarEndDate" />
    </span>
</div>

<RegionSelector OnRegionChange="@GetEventsForRegion" ShowAllRegion="true"/>
