@using System.Web;
@using System.Globalization
@{
    var ti = new CultureInfo("en-US", false).TextInfo;
}

<div>
    Location
    <br />
    <span>
        State Filter:
        <select @onchange="OnStateSelectChange">
            <option value=""></option>
            @foreach (var state in States ?? [])
            {
                <option value="@state">@state</option>
            }
        </select>
        Region Filter:
        <select @onchange="OnRegionSelectChange">
            <option value=""></option>
            @if (!string.IsNullOrEmpty(StateCode) && (regionsForState ?? []).Count() > 1 && ShowAllRegion)
            {
                <option value="all">All</option>
            }
            @foreach (var region in regionsForState ?? [])
            {
                <option value="@region.Id">@ti.ToTitleCase(region.Name ?? "")</option>
            }
        </select>
    </span>
</div>