@page "/"
@using FetWaveWWW.Pages.Shared

<PageTitle>Index</PageTitle>

<HeadContent>
    <meta property="og:title" content="MeetWave" />
    <meta property="og:description" content="Making Waves in the event organizing scene" />
</HeadContent>


<section id="hero" class="row align-items-center" style="min-height:100vh;">
    <div class="col-md-12 col-lg-6">
        <h1 class="text-center align-middle title-header">MeetWave</h1>
    </div>
    <div class="col-md-12 col-lg-6">
        <h2>Our Purpose</h2>
        <div>
            MeetWave is an alternative social media site. The purpose of which is to create an open and safe space that helps people express their true selves. Right now we are in the shaping stages, so come join us on this journey and help us shape the future.
        </div>
        <div>
            What makes MeetWave different is the power is in your hands.
        </div>
    </div>
    <div class="container position-relative aos-init aos-animate">
        <SocialMedia />
    </div>
</section>
